{
  "presets": [
    "es2015",
    "react",
    ["env", {
      "targets": {
        "browsers": "last 2 versions"
      },
      "loose": true,
      "modules" : "amd"
    }]
  ],
  "plugins": [
    "add-module-exports"
  ],
  "env": {
    "test": {
      "plugins":[
        "transform-es2015-modules-commonjs",
      ]
    }
  }
}


