<!--
  ~ Copyright (c) 2018 LEEDIUM.
  ~ This file is subject to the terms and conditions
  ~ defined in file 'LICENSE.txt', which is part of this
  ~ source code package.
  -->

<div data-bind="" class="" data-oc-id="occ-react-webcontent">
  <!-- oc layout: panels -->
  <div class="row">
    <div class="oc-panel col-md-5" data-oc-id="panel-0-0">

    </div>
  </div>
  <!-- /oc -->
</div>
